{% extends 'base.html.twig' %}

{% block title %}Questuons{% endblock %}

{% block body %}

    <div class="card mx-auto mt-5 pt-3 pl-5" style="width: 51rem;">
        {% include 'navbar.html.twig' %}
        <form action="handler.php" method="post" id="quiz">
            <div class="card shadow p-3 mb-5 bg-white rounded p-1" style="width: 45rem;">
                <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat?
                </b>
            </div>
            <div class="ml-4"><input class="form-answer" id="a1" type="radio" name="question1" value="answer1">
                <label for="a1">Lorem ipsum dolor sit amet</label>
                <br>
                <input class="form-answer" id="a2" type="radio" name="question1" value="answer2">
                <label for="a2">Ut enim ad minim veniam</label>
                <br>
                <input class="form-answer" id="a3" type="radio" name="question1" value="answer3">
                <label for="a3">Sed ut perspiciatis</label>
                <br>
                <input class="form-answer" id="a4" type="radio" name="question1" value="answer4">
                <label for="a4">Nam libero</label>
                <br>
                <input class="btn btn-primary" style="margin-left: 19rem;" type="submit" value="Next >">
            </div>
        </form>
    </div>
{% endblock %}
