{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
<div class="container mx-auto my-auto">
    {% include 'navbar.html.twig' %}
    <div class="mx-0 text-center " style="width: 100%; background: whitesmoke;">
        <h2>There is no such page</h2>
    </div>
</div>
{% endblock %}
